# ===== OS =====
.DS_Store
Thumbs.db

# ===== Editors / IDEs =====
.vscode/
.idea/
*.iml

# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/

# ===== Logs =====
*.log

# ===== Docker =====
*.pid

# ===== Node / Frontend (ako postoji build) =====
node_modules/
dist/
build/

# ===== Test / Coverage =====
.coverage
htmlcov/

# ===== Misc =====
*.swp
